.contenedor{
    width: 100%;
    height: 100%;
}

.contenedor-pro{
    width: 60%;
    height: 20%;
    background-color: rgb(158, 221, 153);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
    margin-left: 20%;
    border-radius: 10px;
}
.formula{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
    height: 20%;
    gap:5px;
}
.nombre{
    border: none;
    width: 70%;
    height: 70%;
    border-radius: 5px;
    background-color: rgb(204, 217, 211);

}
.nombre::placeholder { color:black; }
.boton{
    border: none;
    width: 20%;
    height: 70%;
    border-radius: 5px;
    background-color: rgb(204, 217, 211);
    color: rgb(50, 61, 59);
}
.texto{
    width: 60%;
    text-align: center;
    color: aliceblue;
}
/* h4{
    font-weight: 700;
    font-size: 15px;
    color: #393f3c !important;
} */
@media all and (min-width: 800px){

    .contenedor-pro{
        width: 50%;
        margin-top: 20%; 
        margin-left: 30%; 
    }
    .formu{
        height: 15%;

    }
}
@media all and (min-width: 1280px){
    .contenedor-pro{
        width: 30%;
        height: 30%;
        margin-left: 35%;
    }
    .formu{
        height: 12%;

    }
}