.cont{
    margin: auto;
    margin-top: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 50%;
    background-color: white;
}
.cont-texto-1{
    margin: auto;
    width: 70%;
    height: 90%;
}
.cont-label{
    width: 100%;
    height: 20%;
    display: flex;
}
h1{
    font-weight: 700;
    font-size: 20px;
    color: #1c1e1d !important;
}
h3{
    color: #1c1e1d !important;
}
p{
    color: #1c1e1d !important;
}
h4{
    font-weight: 700;
    font-size: 15px;
    color: #1c1e1d !important;
}
@media all and (min-width: 800px){
    .cont{
        margin-top: 10%;
        width: 60%;
        height: 70%;
        background-color: white;
    } 
    .cont-texto{
        margin: auto;
        width: 80%;
        height: 100%;
    }
}
@media all and (min-width: 1280px){
    .cont{
        margin: auto;
        margin-top: 5%;
        width: 40%;
        height: 70%;
        background-color: white;
    } 
        .cont-texto-1{
        margin: auto;
        width: 80%;
        height: 100%;
    }
}