.cont{
    margin: auto;
    width: 80%;
    height: 70%;
    background-color: white;
}
.cont-texto{
    margin: auto;
    width: 80%;
    height: 100%;
}
.cont-label{
    width: 100%;
    height: 20%;
    display: flex;
}
@media all and (min-width: 800px){
    .cont{
        margin: auto;
        width: 60%;
        height: 70%;
        background-color: white;
    } 
    .cont-texto{
        margin: auto;
        width: 80%;
        height: 100%;
    }
}
@media all and (min-width: 1280px){
    .cont{
        margin: auto;
        width: 60%;
        height: 70%;
        background-color: white;
    } 
        .cont-texto-1{
        margin: auto;
        width: 80%;
        height: 100%;
    }
}