.contenedor{
    width: 100%;
    height: 100%;
}
.contenedor-promax{
    background-color: rgba(216, 238, 225, 0.952);
    border: 1px solid rgb(118, 118, 118);
    border-radius: 10px 10px ;
    width: 90%;
    height: 50%;
    margin-top: 20%;
    margin-left: 5%;
}


.titu{
    width: 90%;
    height: 30%;
    margin-left: 10px;
    color: #313734;
}
.formu{
    width: 100%;
    height: 100%;
}

.btn-1{
    width: 65%;
    height: 20%;
    margin-top: 5px;
    border:none;
    margin-right: 10px;
    border-radius: 10px 10px;
    background-color: rgba(116, 166, 125, 0.797);
}
.btn-1::placeholder { color:black; }
.btn-2{
    width: 20%;
    height: 20%;
    border:none;
    border-radius: 10px 10px;
    background-color: #45554c;
    color: rgb(255, 255, 255);
    justify-content: center;
}
@media(hover:hover){
    input:hover{
        background-color: #c7d6ce;
        color: #242524;
    }

}
.contenido{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;
}
.cont-not{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.not-taks{
    align-items:center ;
}
h4{
    color: #313734 !important;
}
.cont-label{
    width: 100%;
    height: 25%;

    
}
.cont-label-1{
    height: 40%;
}
.label{
    margin-left: 20px;
    margin-top: 10px;
    width: 90%;
    height: 100%;
    border-radius: 10px 10px;
    background-color: rgba(199, 220, 202, 0.927);
    display: flex;
    gap: 15px;
}
.Label-underline{
    margin-left: 20px;
    margin-top: 20px;
    width: 70%;
    height: auto;
    border-radius: 10px 10px;
    background-color: rgba(152, 214, 151, 0.618);
    display: flex;
    gap: 15px;
    text-decoration: line-through;
}
.mensaje{
    width: 30%;
    margin-left: 30%;
}
.new-estado{
    width: 20%;
    height: 65%;
    margin-top: 4%;
    background-color: rgba(94, 238, 41, 0.579);
    border-radius: 10px 10px;
    color: rgb(0, 0, 0);
}
.mensaje2{
    width: 90%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content:center ;
    gap: 5px;

}
.contenedor-label{
    width: 100%;
    height:75%;
    display: flex;
    gap: 5px;
}
.estado2-input{
    margin-left: 20px;
    margin-top: 10px;
    width: 60%;
    height: 50%;
    border-radius: 10px 10px;
    background-color: rgba(199, 220, 202, 0.927);
    border: none;
}
.btn{
    width: 20%;
    height: 50%;
    border:none;
    border-radius: 10px 10px;
    background-color: #45554c;
    color: white;
    margin-top: 1%;
    
}
.checkbox-round {
    accent-color: rgb(55, 98, 44);
}
.iconos{
width: 13%;
height: 40%;
display: flex;
align-items: center;
gap: 10px;
margin-top: 10px;
border: none;
background-color: #45554c;
color: white;
border-radius: 5px 5px;
justify-content: center;
align-items: center;
}
.cont-footer{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parrafo{
    width: 70%;
    height: 90%;
    color:#242524;
    
}
.btn-3{
width: 25%;
height:40%;
background-color:#45554c;
color: white;
border: none;
border-radius: 10px 10px;
}

@media all and (min-width: 800px){
    .contenedor{
        width: 100%;
        height: 100%;
    }
    .contenedor-promax{
        width: 60%;
        margin-top: 20%;
        margin-left: 20%;
    }
    }
@media all and (min-width: 1280px){
    .contenedor{
        width: 100%;
        height: 100%;
    }
    .contenedor-promax{
        width: 45%;
        height: 60%;
        margin-top: 10%;
        margin-left: 30%;
    }
    .Label-underline{
        margin-left: 20px;
        margin-top: 20px;
        width: 75%;
        height: 65%;
        border-radius: 10px 10px;
        background-color: rgba(138, 177, 138, 0.618);
        display: flex;
        gap: 15px;
        text-decoration: line-through;
    }
    .iconos{
        width: 8%;
        height: 40%;
        display: flex;
        align-items: center;
        gap: 10px;
        border: none;
        background-color: #45554c;
        color: white;
        border-radius: 5px 5px;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
    }
        .new-estado{
            width: 17%;
            height: 60%;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            background-color: rgba(76, 255, 10, 0.579);
            border-radius: 10px 10px;
            color: rgb(0, 0, 0);
        }
        .mensaje2{
            width: 90%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content:center ;
            gap: 5px;
        
        }
    }
